/* Add styles here */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

section {
    padding-top: 5px;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

#creador {
    background: #e4e4e4;
    padding: 20px;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.trayectoria {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Animación para trayectoria1 */
#trayectoria1-ponencia1, #trayectoria1-ponencia2, #trayectoria1-ponencia3, #trayectoria1-ponencia4, #trayectoria1-ponencia5, #trayectoria1-ponencia6 {
    animation: slideIn 0.5s ease-in-out;
}

/* Animación para trayectoria2 */
#trayectoria2-ponencia1, #trayectoria2-ponencia2, #trayectoria2-ponencia3, #trayectoria2-ponencia4 , #trayectoria2-ponencia5 , #trayectoria2-ponencia6 {
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.trayectoria h1 {
    font-size: 2em;
    border-bottom: 2px solid #38a1db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.step {
    display: flex;
    margin-bottom: 10px;
}

.number {
    font-size: 1.5em;
    color: #38a1db;
    margin-right: 10px;
}

.description {
    font-size: 1em;
    line-height: 1.5;
}

.logos {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logos img {
    max-width: 100%;
    margin-bottom: 20px;
}